@import "tailwindcss";
@plugin "daisyui";

.borders {
    border: 1px solid rgb(233, 59, 59);
    background: rgba(255, 255, 255, 0.15);
  }
   .bordersB {
    border: 3px solid #d0d5d8;
    background: rgba(255, 255, 255, 0.15);
  }
   .bordersC {
    border: 1px solid #c6dfeb;
    background: rgba(255, 255, 255, 0.15);
  }
  .position {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(9px);
  }